{
border: 1px solid red;
}
.main_stuff {height: 80px; width: 100%;}
.main_stuff_2 {height: 240px; width: 100%; background-color: #161916; border-bottom: 6px solid #FA0A17;}
#top_page_1 {width: 1050px; height: 80px; margin: auto;}
#top_page_2 {width: 1050px; height: 240px; margin: auto; }
#logo {
width: 250px; 
height: 80px; 
float: left; 
background-image: url('../img/logo.png');
background-size: 100% 100%;
}
#empty {width: 800px; height: 80px; float: left;}
.red_string {float: right; margin: auto; position: absolute; width: 50%; background: #FA0A17; height: 35px; top: 68px; left: 50%; z-index: 9;}
#title {width: 250px; height: 240px; float: left; text-align: center;}
.title_main {color: white; font-weight: bold;}
#title_size_1 {font-size: 30px; margin-top: 60px; line-height: 33px;}
#title_size_2 {font-size: 50px; line-height: 50px;}
#title_size_3 {font-size: 25px; line-height: 28px;}
#main_img {
width: 800px; 
height: 240px; 
float: left;
background-image: url('../img/main_img.jpg');
background-size: 100% 100%;
border-bottom: 6px solid #FA0A17;
}
.strona {width: 200px; height: 35px; float: left; margin-top: 68px; position: relative; background-color: #FA0A17; border-right: 2px solid #161916; text-align: center; font-size: 17px; color: #161916; padding-top: 5px; z-index: 10;}
.buttons {width: 150px; height: 35px; float: left; margin-top: 68px; position: relative; background-color: #FA0A17; border-right: 2px solid #161916; text-align: center; font-size: 17px; color: #161916; padding-top: 5px; z-index: 10;}
.effect {background: #161916; color: white;}
.black {background: #161916; color: white;}

/*small Desktop*/
@media (min-width: 992px) and (max-width: 1200px) {
.main_stuff {height: 60px;}
.main_stuff_2 {height: 200px;}
#top_page_1 {width: 900px; height: 60px;}
#top_page_2 {width: 900px; height: 200px;}
#logo {width: 200px; height: 60px;}
#empty {width: 700px; height: 60px;}
.red_string {height: 35px; top: 52px;}
#title {width: 200px; height: 200px;}
#title_size_1 {font-size: 25px; margin-top: 50px; line-height: 25px;}
#title_size_2 {font-size: 40px; line-height: 40px;}
#title_size_3 {font-size: 22px; line-height: 22px;}
#main_img {width: 700px; height: 200px;}
.strona {width: 180px; height: 35px; margin-top: 52px; font-size: 17px; padding-top: 5px;}
.buttons {width: 130px; height: 35px; margin-top: 52px; font-size: 17px; padding-top: 5px;}
}
/*iPad*/
@media (min-width: 768px) and (max-width: 992px) {
.main_stuff {height: 55px;}
.main_stuff_2 {height: 180px;}
#top_page_1 {width: 760px; height: 55px;}
#top_page_2 {width: 760px; height: 180px;}
#logo {width: 180px; height: 55px;}
#empty {width: 580px; height: 55px;}
.red_string {height: 30px; top: 47px;}
#title {width: 180px; height: 180px;}
#title_size_1 {font-size: 22px; margin-top: 45px; line-height: 22px;}
#title_size_2 {font-size: 35px; line-height: 35px;}
#title_size_3 {font-size: 20px; line-height: 20px;}
#main_img {width: 580px; height: 180px;}
.strona {width: 160px; height: 30px; margin-top: 47px; font-size: 15px; padding-top: 4px;}
.buttons {width: 105px; height: 30px; margin-top: 47px; font-size: 15px; padding-top: 4px;}
}
/*iPhone*/
@media only screen and (min-width: 768px) {

}
.phone_content {padding: 0px;}
.img-responsive {width: 80%; margin-left: 10%;}
.title_main_phone {
text-align: center;
font-size: 35px;
color: white;
background: #161916;
font-weight: bold;
border-bottom: 6px solid #FA0A17;
}
