{% extends 'toole/base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'o_firmie' %}"><p class="button_effect buttons fontsforweb_fontid_9785">O FIRMIE</p></a>
<a href="{% url 'oferta' %}"><p class="button_effect buttons fontsforweb_fontid_9785">OFERTA</p></a>
<a href="{% url 'realizacje' %}"><p class="button_effect buttons fontsforweb_fontid_9785">REALIZACJE</p></a>
<a href="{% url 'partner' %}"><p class="button_effect buttons fontsforweb_fontid_9785">PARTNERZY</p></a>
<a href="{% url 'kariera' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KARIERA</p></a>
<a href="{% url 'kontakt' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KONTAKT</p></a>
{% endblock content %}

{% block article %}

		{% if user.is_authenticated %}
		<a href="{% url 'kariera_edit' pk=kariera.pk %}"><i class="fa fa-pencil-square-o fa-3x edit_produkt" aria-hidden="true"></i></a>
		<a href="{% url 'kariera_remove' pk=kariera.pk %}"><i class="fa fa-trash fa-3x edit_produkt" aria-hidden="true"></i></a>
		{% endif %}

{% endblock article %}

{% block footer %}
	<div class="footer_inside footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer %}

<!--Phone-->
{% block content_phone %}
	{% if kariera.plik %}
	<img class="img_detail_phone" src="{{ kariera.plik.url }}"/>
	{% endif %}
	<h1 class="title_detail_phone fontsforweb_fontid_9785">{{ kariera.plik }}</h1>
	<a href="{% url 'base' %}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i></a>
{% endblock content_phone %}

{% block footer_phone %}
	<div class="footer_inside_phone footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer_phone %}
<!--End for Phone-->
