{% extends 'toole/base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'o_firmie' %}"><p class="button_effect buttons fontsforweb_fontid_9785">O FIRMIE</p></a>
<a href="{% url 'oferta' %}"><p class="button_effect buttons fontsforweb_fontid_9785">OFERTA</p></a>
<a href="{% url 'realizacje' %}"><p class="button_effect buttons fontsforweb_fontid_9785">REALIZACJE</p></a>
<a href="{% url 'partner' %}"><p class="button_effect buttons fontsforweb_fontid_9785">PARTNERZY</p></a>
<a href="{% url 'kariera' %}"><p class="button_effect buttons black fontsforweb_fontid_9785">KARIERA</p></a>
<a href="{% url 'kontakt' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KONTAKT</p></a>
{% endblock content %}

{% block article %}
<div class="firma_img">
	<img class="img-responsive" src="{% static "img/kariera.png" %}" alt="zielona"/>
</div>
<div class="firma_text fontsforweb_fontid_9785">
<h3><b>KARIERA</b></h3></br>
<p id="firma_text_right"><b>Narzędziownia TOOLE</b> oferuje profesjonalne narzędzia, produkowane na zamówienie i dostosowane do potrzeb nawet najbardziej wymagających klientów. 
Specjalizujemy się w obróbce metali skrawaniem (toczenie CNC, frezowanie, drążenie, wypalanie plazmowe, laserowe oraz wodne), a także w produkcji najwyższej jakości oprzyrządowania technologicznego.</br></br>
W związku z ciągłym rozwojem i stałym wzrostem sprzedaży poszukujemy do naszego zespołu kandydatów do pracy.</p>
</div>
<div class="firma_text_extra fontsforweb_fontid_9785">
<h3><b>AKTUALNE OFERTY</b></h3></br>

{% if user.is_authenticated %}
		<a href="{% url 'kariera_new' %}"><i class="fa fa-pencil fa-3x" aria-hidden="true"></i></a>
{% endif %}

	{% for kariera in karieras %}
		<div class="kariera_wraper">		
			<a class="kariera_inside" href="/image/{{ kariera.plik }}/">
				<i class="kariera_inside_i fa fa-file-text fa-3x" aria-hidden="true"></i>
			</a>
			<a class="kariera_inside" href="/image/{{ kariera.plik }}/">
				<p class="fontsforweb_fontid_9785">{{ kariera.stanowisko }}</p>
			</a>
			{% if user.is_authenticated %}
			<a class="kariera_inside" href="{% url 'kariera_edit' pk=kariera.pk %}"><i class="small_icon_kariera fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
			<a class="kariera_inside" href="{% url 'kariera_remove' pk=kariera.pk %}"><i class="small_icon_kariera fa fa-trash fa-2x" aria-hidden="true"></i></a>
			{% endif %}
		</div>
	{% endfor %}



</div>
{% endblock article %}


{% block footer %}
	<div class="footer_inside footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer %}

<!--Phone-->
{% block content_phone %}
<div class="firma_img_phone col-xs-12">
<img class="img-responsive" src="{% static "img/kariera.png" %}" alt="zielona"/>
</div>
<div class="firma_text_phone fontsforweb_fontid_9785">
<h3><b>KARIERA</b></h3></br>
<b>Narzędziownia TOOLE</b> oferuje profesjonalne narzędzia, produkowane na zamówienie i dostosowane do potrzeb nawet najbardziej wymagających klientów. 
Specjalizujemy się w obróbce metali skrawaniem (toczenie CNC, frezowanie, drążenie, wypalanie plazmowe, laserowe oraz wodne), a także w produkcji najwyższej jakości oprzyrządowania technologicznego.
</br></br>W związku z ciągłym rozwojem i stałym wzrostem sprzedaży poszukujemy do naszego zespołu kandydatów do pracy.
</div>
<div class="firma_text_extra_phone fontsforweb_fontid_9785">
<h3><b>AKTUALNE OFERTY</b></h3></br>

{% for kariera in karieras %}
		<div class="kariera_wraper col-xs-12">
			<a class="kariera_inside" href="/image/{{ kariera.plik }}/">
				<i class="kariera_inside_i_phone fa fa-file-text fa-3x" aria-hidden="true"></i>
			</a>
			<a class="kariera_inside" href="/image/{{ kariera.plik }}/">
				<p class="fontsforweb_fontid_9785">{{ kariera.stanowisko }}</p>
			</a>
		</div>
{% endfor %}


</div>
<a href="{% url 'base' %}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i></a>
{% endblock content_phone %}

{% block footer_phone %}
	<div class="footer_inside_phone footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer_phone %}
<!--End for Phone-->