{% extends 'toole/base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'o_firmie' %}"><p class="button_effect buttons fontsforweb_fontid_9785">O FIRMIE</p></a>
<a href="{% url 'oferta' %}"><p class="button_effect buttons fontsforweb_fontid_9785">OFERTA</p></a>
<a href="{% url 'realizacje' %}"><p class="button_effect buttons fontsforweb_fontid_9785">REALIZACJE</p></a>
<a href="{% url 'partner' %}"><p class="button_effect buttons fontsforweb_fontid_9785">PARTNERZY</p></a>
<a href="{% url 'kariera' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KARIERA</p></a>
<a href="{% url 'kontakt' %}"><p class="button_effect buttons black fontsforweb_fontid_9785">KONTAKT</p></a>
{% endblock content %}

{% block article %}
	<div id="kontakt_left_holder">
	
	<div class="kontakt_1 fontsforweb_fontid_9785">
		<p>KONTAKT</p>
		<p class="kontakt_adres">TOOLE sp. z o.o. sp. k.</br>91-357 Łódź, ul. Liściasta 17</br>tel. 507 012 357, 507 012 551</p>
	</div>
	
	<div class="kontakt_1 fontsforweb_fontid_9785">
		<p>NASZ ZESPÓŁ</p>
		<div class="kontakt_adres kontakt_dane_1">
			<div class="kontakt_kto">Paweł Filarczyk</div>
			<p class="kontakt_detail">+48 507 012 357</br>pawel.filarczyk@toole.pl</p>
		</div>
		<div class="kontakt_adres kontakt_dane_1">
			<div class="kontakt_kto">Sebastian Wędzonka</div>
			<p class="kontakt_detail">+48 507 012 551</br>sebastian.wedzonka@toole.pl</p>
		</div>
	</div>

	</div>

	<div id="kontakt_right_holder" class="fontsforweb_fontid_9785">
		<p class="kontakt_title">NAPISZ DO NAS</p>
		<p class="kontakt_title_wszystkie">(wszystkie pola wymagane)</p>
		<form id="action="" method="post">
			{% csrf_token %}
			<div class="contactList">
				<div id="email" class="contact fontsforweb_fontid_9785">{{ form.from_email }}</div>
				<div id="subject" class="contact">{{ form.subject }}</div>
				<div id="name" class="contact">{{ form.name }}</div>
				<div id="message" class="contact">{{ form.message }}</div>
			</div>
			<div class="form-actions">
				<button type="submit">Wyślij wiadomość</button>
			</div>
		</form>
	</div>
		
{% endblock article %}


{% block footer %}
	<div class="footer_inside footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer %}

<!--Phone-->
{% block content_phone %}
	<div class="col-xs-12 kontakt_phone fontsforweb_fontid_9785">
		<p class="kontakt_title_phone">KONTAKT</p>
		<p class="kontakt_adres_phone">91-357 Łódź, ul. Liściasta 17</br>tel. 507 012 357, 507 012 551</p>
	</div>
	<div class="col-xs-12 kontakt_phone fontsforweb_fontid_9785">
		<p class="kontakt_title_phone">NASZ ZESPÓŁ</p>
		<div class="kontakt_dane_1_phone">
			<div class="kontakt_kto_phone">Paweł Filarczyk</div>
			<p class="kontakt_detail_phone">+48 507 012 357</br>pawel.filarczyk@toole.pl</p>
		</div>
		<div class="kontakt_dane_2_phone">
			<div class="kontakt_kto_phone">Sebastian Wędzonka</div>
			<p class="kontakt_detail_phone">+48 507 012 551</br>sebastian.wedzonka@toole.pl</p>
		</div>
	</div>
	<div class="kontakt_phone fontsforweb_fontid_9785">
		<p class="kontakt_title_phone">NAPISZ DO NAS</p>
		<p class="kontakt_title_wszystkie">(wszystkie pola wymagane)</p>
		
		<form class="form_message" id="action="" method="post">
			{% csrf_token %}
			<div class="contactList_phone">
				<div id="email_phone" class="col-xs-12 contact_phone">{{ form.from_email }}</div>
				<div id="subject_phone" class="col-xs-12 contact_phone">{{ form.subject }}</div>
				<div id="name_phone" class="col-xs-12 contact_phone">{{ form.name }}</div>
				<div id="message_phone" class="col-xs-12 contact_phone">{{ form.message }}</div>
			</div>
			<div class="form_actions_phone">
				<button type="submit">Wyślij wiadomość</button>
			</div>
		</form>
		
		
	</div>
	<a href="{% url 'base' %}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i></a>
{% endblock content_phone %}

{% block footer_phone %}
	<div class="footer_inside_phone footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer_phone %}
<!--End for Phone-->
