{% extends 'toole/base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'o_firmie' %}"><p class="button_effect buttons fontsforweb_fontid_9785">O FIRMIE</p></a>
<a href="{% url 'oferta' %}"><p class="button_effect buttons black fontsforweb_fontid_9785">OFERTA</p></a>
<a href="{% url 'realizacje' %}"><p class="button_effect buttons fontsforweb_fontid_9785">REALIZACJE</p></a>
<a href="{% url 'partner' %}"><p class="button_effect buttons fontsforweb_fontid_9785">PARTNERZY</p></a>
<a href="{% url 'kariera' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KARIERA</p></a>
<a href="{% url 'kontakt' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KONTAKT</p></a>
{% endblock content %}

{% block article %}
	<div class="oferta_empty"></div>
		<div class="oferta_holder fontsforweb_fontid_9785">
		<h3><b>OFERTA</b></h3>
		<p class="first_letter">T</p><p class="oferta_text">oczenie na maszynach konwencjonalnych (krótkie i nietypowe produkty)</p></br>
		<p class="first_letter">F</p><p class="oferta_text">rezowanie na maszynach konwencjonalnych (krótkie i nietypowe produkty)</p></br>
		<p class="first_letter">S</p><p class="oferta_text">zlifowanie wewnątrz i na zewnątrz do fi 300</p></br>
		<p class="first_letter">S</p><p class="oferta_text">zlifowanie płaskie</p></br>
		<p class="first_letter">S</p><p class="oferta_text">zlifowanie karuzelowe</p></br>
		<p class="first_letter">W</p><p class="oferta_text">iercenie na maszynie tzw. koordynata na liniałach</p></br>
		<p class="first_letter">Ś</p><p class="oferta_text">lusarnia we wszystkich zakresach</p></br>
		<p class="first_letter">O</p><p class="oferta_text">bróbka cieplna wszystkich rodzajów materiałów</p></br>
		<p class="first_letter">S</p><p class="oferta_text">pawanie różnymi metodami</p></br>
		<p class="first_letter">C</p><p class="oferta_text">ięcie gilotynowe</p></br>
		<p class="first_letter">R</p><p class="oferta_text">egenerowanie przyrządów pomiarowych</p></br>
		<p class="first_letter">R</p><p class="oferta_text">egenerowanie urządzeń mechanicznych, fortun przekładni, reduktorów, itp.</p></br>
		<p class="first_letter">R</p><p class="oferta_text">egenerowania elementów chromowanych, wały trzpienie, zdejmowanie i  nakładanie nowych warstw obróbka po chromowaniu.</p></br>
		<p class="first_letter">N</p><p class="oferta_text">akładanie warstw  metodami natryskowymi na elementach obrotowych i ich obróbka</p></br>
		<p class="first_letter">S</p><p class="oferta_text">zlifowanie małych średnic otworów (od fi 3)</p>
	</div>
{% endblock article %}

{% block footer %}
	<div class="footer_inside footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer %}

<!--Phone-->
{% block content_phone %}
	<div class="oferta_holder_phone col-xs-12 fontsforweb_fontid_9785">
		<h3><b>OFERTA</b></h3>
		<p class="first_letter_phone">T</p><p class="oferta_text_phone">oczenie na maszynach konwencjonalnych (krótkie i nietypowe produkty)</p></br>
		<p class="first_letter_phone">F</p><p class="oferta_text_phone">rezowanie na maszynach konwencjonalnych (krótkie i nietypowe produkty)</p></br>
		<p class="first_letter_phone">S</p><p class="oferta_text_phone">zlifowanie wewnątrz i na zewnątrz do fi 300</p></br>
		<p class="first_letter_phone">S</p><p class="oferta_text_phone">zlifowanie płaskie</p></br>
		<p class="first_letter_phone">S</p><p class="oferta_text_phone">zlifowanie karuzelowe</p></br>
		<p class="first_letter_phone">W</p><p class="oferta_text_phone">iercenie na maszynie tzw. koordynata na liniałach</p></br>
		<p class="first_letter_phone">Ś</p><p class="oferta_text_phone">lusarnia we wszystkich zakresach</p></br>
		<p class="first_letter_phone">O</p><p class="oferta_text_phone">bróbka cieplna wszystkich rodzajów materiałów</p></br>
		<p class="first_letter_phone">S</p><p class="oferta_text_phone">pawanie różnymi metodami</p></br>
		<p class="first_letter_phone">C</p><p class="oferta_text_phone">ięcie gilotynowe</p></br>
		<p class="first_letter_phone">R</p><p class="oferta_text_phone">egenerowanie przyrządów pomiarowych</p></br>
		<p class="first_letter_phone">R</p><p class="oferta_text_phone">egenerowanie urządzeń mechanicznych, fortun przekładni, reduktorów, itp.</p></br>
		<p class="first_letter_phone">R</p><p class="oferta_text_phone">egenerowania elementów chromowanych, wały trzpienie, zdejmowanie i  nakładanie nowych warstw obróbka po chromowaniu.</p></br>
		<p class="first_letter_phone">N</p><p class="oferta_text_phone">akładanie warstw  metodami natryskowymi na elementach obrotowych i ich obróbka</p>
	</div>
	<a href="{% url 'base' %}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i></a>
{% endblock content_phone %}

{% block footer_phone %}
	<div class="footer_inside_phone footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer_phone %}
<!--End for Phone-->
