{% extends 'toole/base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'base' %}"><p class="button_effect strona fontsforweb_fontid_9785">STRONA GŁÓWNA</p></a>
<a href="{% url 'o_firmie' %}"><p class="button_effect buttons fontsforweb_fontid_9785">O FIRMIE</p></a>
<a href="{% url 'oferta' %}"><p class="button_effect buttons fontsforweb_fontid_9785">OFERTA</p></a>
<a href="{% url 'realizacje' %}"><p class="button_effect buttons fontsforweb_fontid_9785">REALIZACJE</p></a>
<a href="{% url 'partner' %}"><p class="button_effect buttons fontsforweb_fontid_9785">PARTNERZY</p></a>
<a href="{% url 'kontakt' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KONTAKT</p></a>
{% endblock content %}

{% block article %}
		{% if user.is_authenticated %}
		<a href="{% url 'partner_edit' pk=partner.pk %}"><i class="fa fa-pencil-square-o fa-3x edit_produkt" aria-hidden="true"></i></a>
		<a href="{% url 'partner_remove' pk=partner.pk %}"><i class="fa fa-trash fa-3x edit_produkt" aria-hidden="true"></i></a>
		{% endif %}
		{% if partner.image %}
		<img class="img_detail" src="{{ partner.image.url }}"/>
		{% endif %}
		<h1 class="title_detail fontsforweb_fontid_9785">{{ partner.title }}</h1>
		<p class="text_detail fontsforweb_fontid_9785">{{ partner.link }}</p>

{% endblock article %}

{% block footer %}
	<div class="footer_inside footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer %}

<!--Phone-->
{% block content_phone %}
	{% if partner.image %}
	<img class="img_detail_phone" src="{{ partner.image.url }}"/>
	{% endif %}
	<h1 class="title_detail_phone fontsforweb_fontid_9785">{{ partner.title }}</h1>
	<p class="text_detail_phone fontsforweb_fontid_9785">{{ partner.link }}</p>
	<a href="{% url 'base' %}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i></a>
{% endblock content_phone %}

{% block footer_phone %}
	<div class="footer_inside_phone footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer_phone %}
<!--End for Phone-->
