{% extends 'toole/base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'base' %}"><p class="button_effect strona fontsforweb_fontid_9785">STRONA GŁÓWNA</p></a>
<a href="{% url 'o_firmie' %}"><p class="button_effect buttons fontsforweb_fontid_9785">O FIRMIE</p></a>
<a href="{% url 'oferta' %}"><p class="button_effect buttons fontsforweb_fontid_9785">OFERTA</p></a>
<a href="{% url 'realizacje' %}"><p class="button_effect buttons fontsforweb_fontid_9785">REALIZACJE</p></a>
<a href="{% url 'kontakt' %}"><p class="button_effect buttons fontsforweb_fontid_9785">KONTAKT</p></a>
{% endblock content %}

{% block article %}
	<div class="kontakt_1 fontsforweb_fontid_9785">
		<p>KONTAKT</p>
		<p class="kontakt_adres">91-357 Łódź, ul. Liściasta 17</br>tel. 507 012 53, 507 012 551</p>
		<img class="kontakt_img" src="{% static "img/kolo_ok.png" %}" alt="logo"/>
	</div>
	<div class="kontakt_2 fontsforweb_fontid_9785">
		<p class="kontakt_title">NASZ ZESPÓŁ</p>
		<div class="kontakt_dane_1">
			<div class="kontakt_kto">Paweł Filarczyk</div>
			<p class="kontakt_detail">+48 507 012 357</br>pawel.filarczyk@toole.pl</p>
		</div>
		<div class="kontakt_dane_2">
			<div class="kontakt_kto">Sebastian Wędzonka</div>
			<p class="kontakt_detail">+48 507 012 551</br>sebastian.wedzonka@toole.pl</p>
		</div>
	</div>
	<div class="kontakt_2 fontsforweb_fontid_9785">	
		<p id="thanks">Dziękujemy!</p>
		<p id="thanks_twoja">
			Twoja wiadomość została wysłana</br>
			<img class="thanks_img" src="{% static "img/sroby.png" %}" alt="sroby"/>
		</p>
		
	</div>
{% endblock article %}


{% block footer %}
	<div class="footer_inside footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer %}

<!--Phone-->
{% block content_phone %}
	<div class="col-xs-12 kontakt_phone fontsforweb_fontid_9785">
		<p class="kontakt_title_phone">KONTAKT</p>
		<p class="kontakt_adres_phone">91-357 Łódź, ul. Liściasta 17</br>tel. 507 012 53, 507 012 551</p>
	</div>
	<div class="col-xs-12 kontakt_phone fontsforweb_fontid_9785">
		<p class="kontakt_title_phone">NASZ ZESPÓŁ</p>
		<div class="kontakt_dane_1_phone">
			<div class="kontakt_kto_phone">Paweł Filarczyk</div>
			<p class="kontakt_detail_phone">+48 507 012 357</br>pawel.filarczyk@toole.pl</p>
		</div>
		<div class="kontakt_dane_2_phone">
			<div class="kontakt_kto_phone">Sebastian Wędzonka</div>
			<p class="kontakt_detail_phone">+48 507 012 551</br>sebastian.wedzonka@toole.pl</p>
		</div>
	</div>
	<div class="kontakt_phone fontsforweb_fontid_9785">
		<p id="thanks">Dziękujemy!</p>
		<p id="thanks_twoja">
			Twoja wiadomość została wysłana</br>
			<img class="thanks_img" src="{% static "img/sroby.png" %}" alt="sroby"/>
		</p>
	</div>
	<a href="{% url 'base' %}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i></a>
{% endblock content_phone %}

{% block footer_phone %}
	<div class="footer_inside_phone footer_font fontsforweb_fontid_9785">
		PROFESJONALNE NARZĘDZIA DOSTOSOWANE DO TWOICH POTRZEB
	</div>
{% endblock footer_phone %}
<!--End for Phone-->
